@model Entity.DokterModel

@{
    ViewData["Title"] = "Edit Dokter";
}

<h1>Edit Dokter</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Nama" class="control-label"></label>
        <input asp-for="Nama" class="form-control" />
        <span asp-validation-for="Nama" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nik" class="control-label"></label>
        <input asp-for="Nik" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label class="control-label"> Tanggal Lahir</label>
        <input asp-for="tanggal_lahir" type="date" class="form-control" />
        <span asp-validation-for="tanggal_lahir" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Tempat Lahir</label>
        <input asp-for="tempat_lahir" class="form-control" />
        <span asp-validation-for="tempat_lahir" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Jenis Kelamin</label>
        @Html.DropDownListFor(model => model.jenis_kelamin, new SelectList(
                 new List<SelectListItem>
        {
        new SelectListItem { Value = "L", Text = "Laki-Laki" },
        new SelectListItem { Value = "P", Text = "Perempuan" }
        }, "Value", "Text", Model.jenis_kelamin), "Pilih jenis kelamin", new { @class = "form-control", id = "selectJenisKelamin" })
        <span asp-validation-for="jenis_kelamin" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Spesialisasi" class="control-label"></label>
        @Html.DropDownListFor(model => model.Spesialisasi, ViewBag.SpesialisasiList as SelectList, "Pilih spesialisasi", new { @class = "form-control", id = "selectSpesialisasi" })
        <span asp-validation-for="Spesialisasi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
    <a asp-action="Index" class="btn btn-secondary">Batal</a>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selectSpesialisasi').select2({
                placeholder: "Pilih spesialisasi",
                allowClear: true
            });
        });
    </script>
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
